# Node modules
node_modules/
# Logs
logs/

# Environment variables
.env

# Build output
dist/
build/
.next/
out/

# Cache and temp files
.cache/
.temp/
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Misc
coverage/
public/assets/
